body {
background-image:url(../images/1.jpg);
}
p{ 
color: white;
font-family: arial;
font-size: 25px; }
 .logo {
	  border-radius: 50%;
 }

 h1 {
	 color:white;
	 font-family: arial;
 }
 h2 {
	 color:white;
	 font-family: arial;
 }
 li {
	 color: white;
	 font-family: arial;
 }
